@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
	--main-color: #fff;
	--bg-nav: #000;
	--border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	/* text-transform: capitalize; */
	transition: 0.2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 0.8rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 2rem;
}

body {
	background: var(--main-color);
}

div {
	padding: 2rem 7%;
}

/*| SECCION DE LOGIN */
.content-login {
	display: grid;
	place-items: center;
	margin: 0;
	margin-top: 20px;
	color: #000;
	animation: rotate 1s infinite alternate linear;
}

.control {
	background: transparent;
	border: 0;
	cursor: pointer;

	border-radius: 8px;
	outline: none;
	width: 100%;
	height: 56px;
	padding: 0 16px;
	background: #edeaf7;
	color: #000;
	font-family: inherit;
	font-size: 16px;
	transition: 0.4s;
}

/* para que el segundo input no choque con el primero  */
.password2 {
	margin-top: 10px;
}

.login-card {
	width: 400px;
	padding: 100px 30px 64px;
	border-radius: 1.25rem;
	text-align: center;
	background: #dfe6e9;
	border: 1px solid black;
}

.login-card > h2 {
	font-size: 36px;
	font-weight: 600;
	margin: 0 0 6px;
}

.login-card > h3 {
	color: #000;
	margin: 0 0 6px;
	font-weight: 500;
	font-size: 1.6rem;
}

.login-form {
	width: 100%;
	margin: 0;
	display: grid;
	gap: 16px;
}

.login-form input.control::placeholder {
	color: #000;
}

.login-form > button.control {
	cursor: pointer;
	width: 100%;
	height: 56px;
	padding: 0 16px;
	background: #feca57;
	color: #000;
	border: 0;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;
	transition: all 0.375s;
}

.password {
	position: relative;
}

.toggle {
	position: absolute;
	top: 50%;
	right: 16px;
	translate: 0 -50%;
	width: 30px;
	height: 30px;
	background-image: url(../SVG/question.svg);
	background-size: 85px;
	background-position: center;
	background-repeat: no-repeat;
}

.toggle.showing {
	background-image: url(../SVG/x.svg);
}

/** CARD  */
.card-container {
	/*| ordenar los card */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	margin: 10px;
}

.card-container .card {
	background: #f5f6fa;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #000;
}

/*+ MENU DE NAVEGACION DE CARRITO  */
.menu-top {
	background: #000;
}

.menu-top ul {
	padding: 5px;
	margin: 0;
}

.menu-top ul li {
	display: inline-block;
	padding: 10px;
}

.menu-top ul li a {
	display: inline;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	font-size: 18px;
}

.menu-top ul li a:hover {
	color: burlywood;
}

.carrito {
	float: right;
}

.carrito-active {
	background: #fff;
}

.carrito-active a {
	color: #000;
}

/*° creo que este estilo de boton no es necesario, ya tengo uno  */
button {
	border: 1px solid black;
	border-radius: 8px;
	background: #fdcb6e;
	cursor: pointer;
	padding: 10px;
}

button:hover {
	background: black;
	color: #fff;
	transition: 0.2s ease-out;
}

#carrito-container {
	width: 400px;
	background: #fff;
	border: solid 1px #000;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	margin-top: 10px;
	margin-right: 15px;
	display: none;
}

#tabla .fila {
	box-sizing: border-box;
	padding: 10px 0;
}

#tabla .fila .imagen {
	display: inline-block;
	width: 100px;
}

#tabla .fila .info {
	box-sizing: border-box;
	font-size: 14px;
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
	width: 273px;
}

#tabla .fila .info .nombre {
	font-size: 20px;
	font-weight: bold;
}

#tabla .fila .info .botones {
	padding: 20px 0 0 0;
}

#tabla p {
	font-size: 24px !important;
	text-align: center;
	font-weight: bold;
}

/*° BIENVENIDA */

#bienvenida h2 {
	font-size: 24px;
}

#bienvenida a {
	color: #000;
}

/* contenedor de productos  */
.card-container h2 {
	font-size: 25px;
}

/*° FOOTER  */
footer {
	background: #000;
	color: #edeaf7;
	padding: 20px 50px;
}

footer > h3 {
	font-size: 15px;
}

footer > h4 {
	font-size: 12px;
}
