@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
	--main-color: #fff;
	--bg-nav: #000;
	--border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	/* text-transform: capitalize; */
	transition: 0.2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 0.8rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 2rem;
}

body {
	background: var(--main-color);
}

div {
	padding: 2rem 7%;
}

/*| SECCION DE LOGIN */
img {
	width: 100%;
}
.login {
	height: 610px;
	width: 100%;
	background: #f2eee3;
	position: relative;
}
.login_box {
	width: 1050px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 10px;
	box-shadow: 1px 4px 22px -8px #0004;
	display: flex;
	overflow: hidden;
}
.login_box .left {
	width: 41%;
	height: 100%;
	padding: 25px 25px;
}
.login_box .right {
	width: 59%;
	height: 100%;
}
.left .top_link a {
	color: #000;
	font-weight: 400;
}
.left .top_link {
	height: 20px;
}
.left .contact {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	height: 100%;
	width: 73%;
	margin: auto;
}
.left h3 {
	text-align: center;
	margin-bottom: 40px;
}
.left input {
	border: none;
	width: 80%;
	margin: 15px 0px;
	border-bottom: 1px solid #4f30677d;
	padding: 7px 9px;
	width: 100%;
	overflow: hidden;
	background: transparent;
	font-weight: 600;
	font-size: 14px;
}
.left {
	background: linear-gradient(-45deg, #c5c5c5, #fff);
}
.submit {
	border: none;
	padding: 15px 70px;
	border-radius: 8px;
	display: block;
	margin: auto;
	margin-top: 120px;
	/* background: #583672; */
	background: #000;
	color: #fff;
	font-weight: bold;
	-webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
	-moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
	box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.submit:hover {
	background-color: #fff;
	color: #000;
}

.right {
	background: url(https://cdn.dribbble.com/users/118246/screenshots/5343519/wifi.gif);
	color: #fff;
	position: relative;
}

.right .right-text {
	height: 100%;
	position: relative;
	transform: translate(0%, 45%);
	color: rgb(43, 41, 41);
}
.right-text h2 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
}
.right-text h5 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 19px;
	font-weight: 400;
}

.right .right-inductor {
	position: absolute;
	width: 70px;
	height: 7px;
	background: #fff0;
	left: 50%;
	bottom: 70px;
	transform: translate(-50%, 0%);
}
.top_link img {
	width: 28px;
	padding-right: 7px;
	margin-top: -3px;
}

/* MENU LATERAL */
button {
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.sidebar {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	background: var(--bg-nav);
	transition: width 0.4s;
}

body.open .sidebar {
	width: 260px;
}

.sidebar-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
}

.sidebar-header {
	display: flex;
	align-items: center;
	height: 72px;
	padding: 0 1.25rem 0 0;
	background: rgb(0, 0, 0, 0.1);
}

.sidebar-burger {
	width: 60px;
	height: 60px;
	display: grid;
	place-items: center;
	background: url(../SVG/menu.svg) no-repeat center center;
}

body.open .sidebar-burger {
	background: url(../SVG/x.svg);
}

.sidebar-logo {
	/*+ tengo un logo?  */
	height: 20px;
}

.sidebar-menu {
	display: grid;
}

.sidebar-menu > button {
	display: flex;
	gap: 25px;
	align-items: center;
	height: 60px;
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 1;
	padding: 0 25 px;
	margin-left: 13px;
}

.sidebar-menu > button.has-border {
	padding-bottom: 16px;
	margin-bottom: 16px;
}

.sidebar-menu > button > img {
	width: 24px;
	height: 24px;
}

.sidebar-menu > button > span {
	color: #f9f9f9;
}

.main-contenedor {
	margin-left: 5px;
}
